body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.calculatorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    width: 310px;
    height: 400px;
    background-color: #f4d6d6;
    border: 2px solid black;
    border-radius: 20px;
    gap: 15px;
    box-shadow: 2px 3px 3px black;
}

.top {
    width: 280px;
    height: 25%;
    margin-top: 15px ;
    background: linear-gradient(90deg, rgba(207,221,218,1) 10%, rgba(217,229,227,1) 100%);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow:  inset 2px 2px 2px black;
    flex-shrink: 0;

}

.calculatorScreen {
    padding-right: 10px;
    text-align: end;
}

#bottomCalc {
    height: 80%;
    margin: 0px;
    font-size: 40px;
    font-weight: normal;
}

.middle {
display: flex;
justify-content: space-between;
width: 280px;
height: 15%;
gap: 10px;
margin-top: 0px;
}

#clearButton, #deleteButton {
    width: 50%;
    background-color: #f4e4da;

}

.bottom {
    width: 280px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 10px;
}

.rowOne, .rowTwo, .rowThree, .rowFour {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-between;
}

.bottom button {
    width: 60px;
}

button {
    border: 1px solid black;
    background-color: #f4c5c5;
    box-shadow: 1px 2px 2px black;
    border-radius: 5px;
}


button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.dataOperator, .dotButton, #equalsButton {
    background-color: #f4e4da;
}

